<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rest Api Form</title>
  </head>
  <body>
    <!-- this is form -->
    <div class="container">
      <div class="row">
        <form
          class="col s12"
          method="post"
          action="http://localhost:1337/update"
        >
          <div class="row">
            <div class="input-field col s6">
              <input
                placeholder="Placeholder"
                id="first_name"
                type="text"
                class="validate"
                name="fname"
              />
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate" name="lname" />
              <label for="last_name">Last Name</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input
                id="password"
                type="password"
                class="validate"
                name="password"
              />
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" name="email" />
              <label for="email">Email</label>
            </div>
          </div>


          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="number" class="validate" name="pid" />
              <label for="email">pid</label>
            </div>
          </div>
        </div>


          <button class="btn waves-effect waves-light submit" type="submit">
            Submit
            <i class="material-icons right"></i>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
